<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>ResponseSample</title>
</head>
<body>
  <h1>HelloResponseDB</h1>
  <table>
    <tr>
      <td>ID:</td>
      <td th:text="${employee.employeeId}"></td><!--Modelに登録したEmployeeクラスのemployeeIdを表示する  -->
    </tr>
    <tr>
      <td>名前:</td>
      <td th:text="${employee.employeeName}"></td><!--クラス型の変数employeeを登録したので、＄{キー名.フィールド名}と指定する必要がある  -->
    </tr>
    <tr>
      <td>年齢:</td>
      <td th:text="${employee.employeeAge}"></td>
    </tr>
  </table>
</body>
</html>