<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- "http://www.thymeleaf.org"はタイムリーフを使うよーっていう宣言。これがないとタイムリーフが使えない。 -->
<head>
  <meta charset="UTF-8"></meta>
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World</h1>
  <form method="post" action="/hello"> <!-- このformタグに囲まれたボタンを押すとPostリクエストの/helloがcontroller側に飛ぶ。送る内容は入力欄のtext情報を送っている。 -->
    入力: <input type="text" name="text1"/>
    <input type="submit" value="クリック" />
  </form>
  <br/>
  <form method="post" action="/hello/db"> <!-- このformタグに囲まれたボタンを押すと"/hello/db"に対してPOSTリクエストを送る  -->
    従業員ID:<input type="text" name="text2" th:value="${text2_value}" />
    <input type="submit" value="クリック" />
  </form>
</body>
</html>